
node_modules/discord.js/src/client/actions/MessageDelete.js
*.js
*.ts
node_modules/@discordjs/collection/LICENSE
*.json
*.md
node_modules/@discordjs/form-data/License
*.mjs
*.map
node_modules/abort-controller/LICENSE
node_modules/asynckit/LICENSE
node_modules/combined-stream/License
node_modules/combined-stream/yarn.lock
node_modules/delayed-stream/Makefile
node_modules/delayed-stream/License
node_modules/delayed-stream/.npmignore
node_modules/event-target-shim/LICENSE
node_modules/mime-db/LICENSE
node_modules/mime-types/LICENSE
IoxBot.code-workspace
node_modules/prism-media/LICENSE
node_modules/setimmediate/LICENSE.txt
node_modules/tweetnacl/LICENSE
node_modules/ws/LICENSE
